body {  
	padding-top: 10px;  
	padding-bottom: 20px;  
	padding-left: 15%;  
	padding-right: 15%;
	font-family: "Monaco","Courier","Verdana", sans-serif;
	font-size: 12px;
	color: #333;	
}
h1 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: x-large;
}
