body {
	color: #444444;
}
h1, h2 {
	font-weight: Regular;
	color: #444444;
	font-size: 1.4em;
}
h3 {
	font-weight: Regular;
	color: #444444;
	font-size: 1.2em;
}
h4 {
	font-weight: Regular;
	color: #444444;
	font-size: 1.2em;
}
.code {
	background-color: #F0F0F0;
	color: #000000;
}
.pre {
	display: block;
	background-color: #F6F6F6;
	color: #000000;
}